@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

header {
    background-color: rgb(189, 199, 211);
    padding: 20px;
}

header > h1 {
    color: rgb(32, 25, 73);
    text-align: center;
    font-size: 45px;
}

.score {
    border: 3px solid rgb(32, 25, 73);
    width: 220px;
    margin: 30px auto;
    color: rgb(32, 25, 73);
    font-size: 55px;
    border-radius: 6px;
    text-align: center;
    padding: 15px 20px;
    position: relative;
}

.badge {
    background-color:rgb(29, 85, 53);
    color: white;
    font-size: large;
    padding: 2px 10px;
    font-weight: bold;
}

#player_label {
    position: absolute;
    top: 30px;
    left: -40px;
    border-radius: 6px;
}

#computer_label {
    position: absolute;
    top: 30px;
    right: -48px;
    border-radius: 6px;
}

.result {
    font-size: xx-large;
    color:rgb(32, 25, 73);
    text-align: center;
    font-weight: bold;
}

.choices {
    text-align: center;
    margin-top: 50px;
}

.choice {
    display: inline-block;
    padding: 10px;
    margin: 0 10px;
    border: 4px solid rgb(189, 199, 211);
    border-radius: 25%;
    transition: all 0.125s ease;
}

.choice:hover{
    cursor: pointer;

}

#message {
    text-align: center;
    font-size: x-large;
    color: rgb(32, 25, 73);
    margin-top: 25px;
}
.green_glow {
    border: 4px solid seagreen;
    box-shadow: 0 0 10px rgb(37, 112, 69);
}

.red_glow {
    border: 4px solid firebrick;
    box-shadow: 0 0 10px rgb(139, 26, 26);
}